<div style="background-image:url(<%= @image %>); background-size: cover; background-position: center; height: 100%; position: relative;">
  <p style="position: absolute; top: 50%; transform: translateY(-50%); margin: 0; width: 100%; text-align: center; color: #fff; font-size: 2rem; text-shadow: 0 0 10px black;"><%= @headline %></p>
</div>
